.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-title {

}

.home-list {

}

.home-list-item {
  cursor: pointer;
}

.home-list-item-link {
  display: block;
  width: 10em;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid grey;
  border-radius: 2em;
  text-decoration: none;
}
