.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-title {
  margin: 0.5em;
  font-size: 1.4em;
}

.home-search-sort {
  display: flex;
  flex-direction: row;
}

.home-search {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  border: 3px solid gray;
  border-radius: 0.3em;
}

.home-search-input {
  border: 0;
  text-align: center;
  background: none;
}

.home-search-input::placeholder {
  color: lightgray;
}

.home-search-input:focus {
    outline-width: 0;
}

.home-search-icon {
  width: 24px;
}

.home-sort {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  border: 3px solid gray;
  border-radius: 0.3em;
  font-size: 0.9em;
}

.home-sort-select {
  width: 100%;
}

.home-sort-select > div {
  border: 0;
  background-color: inherit;
}

.home-sort-select-dropdown {
  background-color: inherit;
}

.home-restaurant {
  position: relative;
  display: block;
  height: 4em;
  margin: 0.8em 0.3em;
  color: white;
  text-decoration: none;
}

.home-restaurant-img {
  width: 100%;
  height: 4em;
}

.home-restaurant-title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
}

.home-restaurant-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.home-restaurant-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
  margin: 2px;
}

.home-restaurant-chevron {
}

.home-restaurant-name {
  width: 100%;
  font-size: 1.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
