.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
  background: #ffba00;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  width: 10em;
  margin: 1em;
  border-radius: 5em;
}

.profile-font {
  font-size: 1.6em;
  font-weight: 700;
}

.profile-name {
  color: white;
}

.profile-type {
  padding: 0.7em;
}

.profile-type-value {
  color: gray;
}

.profile-points {
  padding: 0.5em;
  text-align: center;
}

.profile-points-label {
  margin-bottom: 0.5em;
  color: #ffba00;
}

.profile-social {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 1em;
}

.profile-social-value {
  color: #00008b;
}

.profile-set-value {
  display: flex;
  align-items: center;
  color: lightgray;
  font-size: 1em;
  font-weight: 500;
}

.profile-label {
  color: #ffba00;
}

.profile-divider {
  width: 100%;
  height: 1px;
  background: lightgray;
}

.profile-logout {
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  color: lightgrey;
  font-size: 1em;
  font-weight: 700;
}
