.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.restaurant-name {
  padding: 0;
  margin: 0.5em 0 0 0;
}

.restaurant-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 15em;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid grey;
  border-radius: 2em;
  cursor: pointer;
}

.restaurant-list-item-fill {
  width: 2em;
  height: 2em;
}

.restaurant-list-item-name {
  margin: 0;
  padding: 0;
}

.restaurant-list-item-user-rating span {
  margin: 0 2px;
}

.restaurant-list-item-overall-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  /* padding: 3px; */
  /* border: 1px solid grey; */
  /* border-radius: 0.5em; */
}

.restaurant-list-item-overall-rating {
  margin: 0;
  text-decoration: none;
  font-size: 12px;
}

.restaurant-list-item-overall-rating-star {
  width: 5px;
  height: 5px;
}

.restaurant-list-item-overall-rating-avg {
  margin: 0;
  text-decoration: none;
  font-size: 10px;
}
