.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.restaurant-name {
  padding: 0;
  margin: 0.5em 0 0 0;
}

.restaurant-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 15em;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid grey;
  border-radius: 2em;
  cursor: pointer;
}

.restaurant-list-item-fill {
  width: 2em;
  height: 2em;
}

.restaurant-list-item-name {
  margin: 0;
  padding: 0;
}

.restaurant-list-item-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  /* padding: 3px; */
  /* border: 1px solid grey; */
  /* border-radius: 0.5em; */
}

.restaurant-list-item-rating {
  margin: 0;
  text-decoration: none;
  font-size: 12px;
}

.restaurant-list-item-star {
  width: 5px;
  height: 5px;
}

.restaurant-modal {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0%;
  right: 0%;
  border: none;
  background-color: white;
}

.restaurant-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}

.restaurant-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.restaurant-rating-title {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.restaurant-rating {
}

.restaurant-rating span {
  margin: 5px;
}

.restaurant-rating-submit {
  width: 50%;
  margin: 0.5em;
  padding: 1em;
  border: 2px solid grey;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
}
