.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: lightblue;
}

.welcome-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  margin: auto;
}

.welcome-icon {
  height: 70%;
}

.welcome-logo {
  height: 30%;
}

.welcome-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
  background: rgba(255, 255, 255, 0.3);
}

.welcome-signin-button {
  width: 70%;
  margin: 0.8em;
  padding: 1.2em 2em;
  border-radius: 0.5em;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.welcome-facebook {
  background: rgba(0, 0, 255, 0.7);
}

.welcome-google {
  background: rgba(255, 0, 0, 0.7);
}

.welcome-signin-guest {
  margin: 0.8em auto;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.8em;
  color: white;
}
