.header-bar {
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #222;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  text-decoration: none;
  cursor: pointer;
}

.header-logo {
  height: 2.5em;
}

.header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar-link {
  display: block;
  margin: 1em;
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
}

.nav-bar-logout {
  margin: 1em auto;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-size: 1.2em;
  color: white;
  background: blue;
  cursor: pointer;
}
