.rating-modal {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0%;
  right: 0%;
  border: none;
  background-color: white;
}

.rating-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}

.rating-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.rating-modal-title {
  margin: 0;
  font-size: 1.4em;
  text-align: center;
}

.rating-modal-stars span {
  margin: 5px;
}

.rating-modal-submit {
  width: 50%;
  margin: 0.5em;
  padding: 1em;
  border: 2px solid grey;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
}
